.martaButtons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.martaButton {
    padding: 7px 45px;
    color: #0A639C;
    border-color: #0A639C;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.martaButton:hover {
    background-color: #095178;
    color: white;
}

.martaButton.active {
    padding: 7px 45px;
    background-color: #0A639C;
    color: white;
    border-color: #0A639C;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.martaButton.active:hover {
    background-color: transparent;
    color: #095178;
}
