.train {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: -20px;
  width: 70vw;
  position: relative;
}

.train::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #0A639C; 
}

.train .left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.train .left h1 {
  font-size: 80px;
  margin: 10px;
}

.train .trainInfo {
  display: flex;
  flex-direction: column;
}

.train .stationInfo p {
  font-weight: bold;
}

.train .otherInfo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.train .lineColor {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.train .right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.train .right p {
  font-size: 25px;
  font-weight: 00;
  color:#27ae60;
  text-align: right;
}

.train .otherInfo .delayed {
  color: #ff5733;
}

.train .otherInfo .onTime {
  color: #27ae60;
}

img {
  height: 15px;
  width: 20px;
}